Source: ubucon-asia-2025
Section: golang
Priority: optional
Maintainer: Shishir Subedi <shishir.subedi@canonical.com> 
Uploaders: Shishir Subedi <shishir.subedi@canonical.com>
Rules-Requires-Root: no
Build-Depends: debhelper-compat (= 13),
               dh-sequence-golang,
               golang-any,
               golang-github-gin-gonic-gin-dev,
               golang-github-stretchr-testify-dev,
               iputils-ping
Testsuite: autopkgtest-pkg-go
Standards-Version: 4.6.2
Homepage: https://github.com/shishirsub10/ubucon-asia-2025
XS-Go-Import-Path: github.com/shishirsub10/ubucon-asia-2025

Package: ubucon-asia-2025
Section: net
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Built-Using: ${misc:Built-Using}
Description: This is a intentionally vulnerable program to be used for
 demostration purposed in Ubucon Asia 2025
